<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>microblog</title>

    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="application/javascript" src="/js/vue.js"></script>
    <script type="application/javascript" src="/js/vue-resource.js"></script>

    <style>
        .box{
            margin-top:  50px;
        }

        [v-cloak] {
            display:none !important;
        }
    </style>
    <script>
        window.onload = function () {

            new Vue({
                el: '#box',
                data: {
                    myData: [],
                    allCount:[]
                },

            });

        }
    </script>
</head>
<body id="box" v-cloak>
<div class="container box">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top"  role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">班级说说</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">全部说说</a></li>
                    <li><a href="/user/<%=username %>">我的说说</a></li>
                    <li><a href="/userlist">成员列表</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="regist">注册</a></li>
                    <li><a href="login">登录</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container box">
        <div class="row">
            <h1>所有成员</h1>
            <% for( var i=0;i<results.length;i++){%>
            <div class="col-lg-1">
                <a href="#"><img class="avatar" src="/avatar/<%=results[i].avatar %>" alt=""/></a>
                <h5><%=results[i].username %></h5>
                <hr/>
            </div>
            <%}%>
        </div>
    </div>

</div>
<script>

</script>

</body>
</html>